{% load static %}

<!-- START Register Content -->
<section class="section">
    <div class="container">
        <!-- START Section Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h1 class="section-title font-alt mb25">Create your Account</h1>

                </div>
            </div>
        </div>
        <!--/ END Section Header -->

        <!-- START Row -->
        <div class="row">
            <div class="col-md">
            <!-- Register form -->
                <div class="edit-form">
                <form class="panel no-border nm" name="form-register" action="">
                    <div class="logo-in-form">
                        <img src="{% static 'image/logo/logo-figure-inverse.png'%}">
                        <!-- <img src="../../image/logo/logo-figure-inverse.png"> -->
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <div class="has-icon pull-left">
                                <input type="text" class="form-control" name="username" data-parsley-required>
                                <i class="ico-user2 form-control-icon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div class="has-icon pull-left">
                                <input type="password" class="form-control" name="password" autocomplete="new-password" data-parsley-required>
                                <i class="ico-key2 form-control-icon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Retype Password</label>
                            <div class="has-icon pull-left">
                                <input type="password" class="form-control" name="retype-password" data-parsley-equalto="input[name=password]">
                                <i class="ico-asterisk form-control-icon"></i>
                            </div>
                        </div>
                        <p class="semibold text-muted">To confirm and activate your new account, we will need to send the activation code to your e-mail.</p>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div class="has-icon pull-left">
                                <input type="email" class="form-control" name="email" placeholder="you@mail.com">
                                <i class="ico-envelop form-control-icon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox custom-checkbox">  
                                <input type="checkbox" name="agree" id="agree" value="1">  
                                <label for="agree">&nbsp;&nbsp;I agree to the <a class="semibold" href="javascript:void(0);">Term Of Services</a></label>   
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox custom-checkbox">  
                                <input type="checkbox" name="news" id="news" value="1">  
                                <label for="news">&nbsp;&nbsp;Send me Newsletters.</label>   
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-block btn-lg btn-success"><span class="semibold">Sign up</span></button>
                    </div>
                </form>
            </div>
            
            <!-- Register form -->
            </div>
        </div>
        <!--/ END Row -->
    </div> <!-- /End container -->
</section>
<!--/ END Register Content -->

        